VER=$(cat "${HER}/VERSION")
ACE_VERSION=$(cat "${HER}/ACE_VERSION")
ACE_URL_ICON='https://i.ytimg.com/vi/dxar7KLsrg8/hqdefault.jpg'
ACE_URL_APP="https://download.acestream.media/linux/acestream_${ACE_VERSION}_ubuntu_22.04_x86_64_py3.10.tar.gz"
PYTHON_VERSION='3.10.18'
BUILD_TIME=$(date +_%d-%m-%Y_%H-%M)
BUILD=${ACE_VERSION}${BUILD_TIME}_${VER}
DESKTOP_INTEGRATION=no
TERMINAL=no
